.navigation{
    margin: 15px 0;
    display: flex;

    a{
        margin: 5px;
        padding: 5px;
        position: relative;
    }

    .nav-active{
        &::after{
            content: "";
            width: 85%;
            height: 5px;
            background: $color-1;
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
    
        }
    }

}



