.connexion{

    border: 1px;
    background-color: azure;
    text-align: center;
    padding: 25px;
    margin: 200px;
    margin-left: 650px;
    margin-right: 650px;

    .connexion_btn{

     text-align: center;
     margin: 15px;
     margin-bottom: 20px;
     margin-left: 200px;

          }
    

}